@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

.reset-password-container {
  width: 100vw;
  height: 100vh;
  background: url('../../public/assets/login.png') no-repeat center;
  background-size: 100% auto;
  background-color: #f8f8f8;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.logo {
  position: absolute;
  top: 50px;
  left: 100px;
  width: 300px;
  height: auto;
}

.logo img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.reset-password-box {
  background: rgba(255, 255, 255, 0.95);
  padding: 60px;
  border-radius: 15px;
  width: 2300px;
  height: 1500px;
  text-align: center;
  box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.3);
}

.reset-password-box h2 {
  font-size: 70px;
  font-weight: bold;
  margin-bottom: 15px;
  margin-top: 120px;
  text-shadow: 6px 10px 10px rgba(0, 0, 0, 0.1);
}

.reset-password-box h3 {
  font-size: 40px;
  margin-left: -1400px;
  margin-bottom: 100px;
  margin-top: 80px;
  text-shadow: 6px 10px 10px rgba(0, 0, 0, 0.1);
  position: relative;
}

.sub-text {
  font-size: 50px;
  color: #555;
  margin-bottom: 25px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
}

.input-group2 {
  display: flex;
  align-items: center;
  background: #f3f3f3;
  padding: 18px 40px;
  border-radius: 20px;
  margin-bottom: -40px;
  border: 1px solid #ccc;
  position: relative;
  gap: 20px;
  margin-top: 120px;
  width: 80%;
  max-width: 2000px;
  margin-left: auto;
  height: 6.5vh;
  margin-right: auto;
}

.input-group2 input {
  width: 100%;
  height: 3vh;
  border: none;
  background: transparent;
  outline: none;
  font-size: 40px;
  border-radius: 10%;
  padding-right: 40px;
}

.input-group2 .icon {
  color: #555;
  font-size: 40px;
  position: right;
  right: 15px;
}

.submit-btn {
  width: 80%;
  max-width: 2000px;
  height: 6.5vh;
  padding: 14px;
  background: #4A6D7C;
  color: white;
  border: none;
  border-radius: 12px;
  font-size: 60px;
  font-weight: bold;
  cursor: pointer;
  margin-top: 150px;
  box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.3);
}

/* .error-message {
  color: #ff3333;
  font-size: 40px;
  margin-top: -50px;
  margin-bottom: 30px;
}

.success-message {
  color: #4CAF50;
  font-size: 40px;
  margin-top: -50px;
  margin-bottom: 30px;
} */