/* General Layout */
.dashboard-container {
    display: flex;
    height: 100vh;
    width: 100%;
  }
 .content {
  width: 100%;
  max-width: 1000px; /* still limits very wide screens */
  margin: 0 auto;     /* center the content */
  padding: 20px;      /* some inner spacing */
}

  h4 {
    font-size: 20px;
    font-weight:bold;
    color: #4A4A4A;
  }
  
/* Add Employee Button */
.add-employee-btn {
  background-color: #C9DEDD;
  color: rgb(0, 0, 0);
  font-weight: bold;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 25px;
  display: flex;
  align-items: center;
  gap: 8px;
  width: 180px;
  margin-left: 1000px;
}

.add-employee-btn:hover {
  background-color: rgb(120, 171, 186);
}


/* Action Buttons */
.edit-btn,
.delete-btn {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 15px;
  margin-right: 8px;
}

.edit-btn {
  color: #274552;
  height: 10px;

}

.delete-btn {
  color: #921B29;

}
.employee-table{
  width: 1200px;
}
